name = "my-worker"
main = "my-worker/src/index.ts"
workers_dev = true
compatibility_date = "2024-06-16"
compatibility_flags = [ "nodejs_compat" ]


[env.production]
vars = { NEXTJS_API_URL = "https://protein-scraper.pages.dev"}

[env.development]
vars = { NEXTJS_API_URL = "http://localhost:3000", CRON_SECRET = "GP6qA5YlQXjcAI0OXWd5X8oADjhLB4I6" }



[triggers]
crons = ["0 8,20 * * *"]  


[vars]
NEXTJS_API_URL = "https://protein-scraper.pages.dev"





